<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <!-- 方言属性：这个是实现跨数据库关键类 具体查询api-->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <!-- 可选配置属性 -->
        <!-- 是否自动生成表：可选用create update  create-drop validate-->
        <property name="hbm2ddl.auto">update</property>
        <!-- 是否显示sql -->
        <property name="show_sql">true</property>
        <!-- 是否格式化sql -->
        <property name="format_sql">true</property>
        <!--geCurrentSession 才会生效-->
        <property name="current_session_context_class">thread</property>
        <property name="connection.pool_size">20</property>

        <!--&lt;!&ndash;开启二级缓存&ndash;&gt;-->
        <!--<property name="cache.use_second_level_cache">true</property>-->
        <!--&lt;!&ndash;查询缓存&ndash;&gt;-->
        <!--<property name="cache.use_query_cache">true</property>-->
        <!--&lt;!&ndash;注册缓存提供者&ndash;&gt;-->
        <!--<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>-->
        <!--&lt;!&ndash;缓存配置文件存放路径&ndash;&gt;-->
        <!--<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>-->
        <mapping class="com.werner.di.entity.Hotel"/>

    </session-factory>
</hibernate-configuration>